@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

li,
ul {
  list-style: none;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans KR", "Noto Sans", "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: normal;
  color: #000;
}

/* 공통 클래스 */
.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.wrap {
  position: relative;
  display: block;
  overflow: hidden;
}

/* 모달창 */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 7;
}

.modal-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 55rem;
  height: 30rem;
  background: #fff;
  border-radius: 1rem;
  padding: 4.5rem 5rem;
}

.modal__txt01 {
  display: block;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 3rem;
  color: #000;
}

.modal__txt02 {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  color: #000;
}

.modal__close {
  position: absolute;
  right: 4rem;
  bottom: 3.5rem;
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 4rem;
  text-align: center;
  border: 0;
  border-radius: .5rem;
  color: #fff;
  background-color: #000;
  padding: 0 3rem;
  cursor: pointer;
}

/* Header */
.header {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 8.2rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
  z-index: 6;
}

.header--scroll {
  position: fixed;
  background-color: #fff;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  animation: ani-header 0.5s;
}

@keyframes ani-header {
  0% {
    margin-top: -8.2rem;
  }

  100% {
    margin-top: 0;
  }
}

.header-logo {
  position: relative;
  display: block;
  float: left;
  width: 50%;
  height: 100%;
  padding: 2.7rem 1.6rem;
}

.header__logo {
  display: block;
  width: 9rem;
  height: 2.6859rem;
  font-size: 0;
  background: url("../images/logo.png") no-repeat center;
  background-size: contain;
}

.header--scroll .header__logo {
  background: url("../images/logo_dark.svg") no-repeat center;
  background-size: contain;
}

.gnb {
  display: block;
  float: left;
  width: 50%;
  height: 100%;
}

.gnb-list {
  display: flex;
  justify-content: right;
  padding: 3.2rem 1.6rem;
}

.gnb-list>li {
  display: block;
  margin-left: 5.6rem;
}

.gnb-list>li>a {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.12rem;
  color: #fff;
}

.header--scroll .gnb-list>li>a {
  font-weight: 400;
  color: #20283b;
}

.gnb-list>li>a:hover {
  text-decoration: underline;
}

.mb-menu {
  position: absolute;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  width: 2.4rem;
  height: 2.4rem;
  color: #fff;
  cursor: pointer;
}

.header--scroll .mb-menu {
  color: #000;
}

.mb-gnb {
  position: fixed;
  left: -31rem;
  top: 0;
  display: block;
  width: 30rem;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.6rem 0rem rgb(0 0 0 / 25%);
  padding: 7rem 3rem 0 3rem;
  transition: all 0.4s;
}

.mb-gnb--open {
  left: 0;
}

.mb-gnb__close {
  position: absolute;
  left: 2.9rem;
  top: 2rem;
  font-size: 1.9rem;
  font-weight: bold;
  color: #20283b;
  cursor: pointer;
}

.mb-gnb-list {
  display: block;
}

.mb-gnb-list>li {
  font-size: 0;
  border-bottom: 0.1rem solid rgba(128, 128, 128, 0.2);
}

.mb-gnb-list>li:last-child {
  border-bottom: 0;
}

.mb-gnb-list>li>a {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.12rem;
  color: #20283b;
  padding: 2.4rem 0;
}

.mb-gnb-list>li>a:hover {
  text-decoration: underline;
  background-color: #f6f6f6;
}

/* Visual */
.visual {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
}

.visual-area {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.visual-area-1 {
  background-image: url("../images/visual_1.jpg");
}

.visual-area-2 {
  background-image: url("../images/visual_2.jpg");
}

.visual-area-3 {
  background-image: url("../images/visual_3.jpg");
}

.visual-area-4 {
  background-image: url("../images/visual_4.jpg");
}

.visual-area-5 {
  background-image: url("../images/visual_5.jpg");
}

.visual-area-6 {
  background-image: url("../images/visual_6.jpg");
}

.visual-area img {
  position: absolute;
  left: calc(13vw - 5rem);
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: 16rem;
  opacity: 0;
}

.sw-visual .swiper-slide-active img {
  left: 13vw;
  opacity: 1;
  transition: all 0.5s 0.5s ease-in;
}

.sw-visual__pg {
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translateY(calc(-50% + 0.7rem));
  width: 0.8rem;
  z-index: 1;
}

.sw-visual__pg .swiper-pagination-bullet {
  position: relative;
  width: 0.8rem;
  height: 0.8rem;
  border: 0.1rem solid #fff;
  background-color: transparent;
  margin-bottom: 1rem;
  opacity: 1;
  overflow: hidden;
  transition: all 0.3s;
}

.sw-visual__pg .swiper-pagination-bullet:hover {
  background-color: #fff;
}

.sw-visual__pg .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  left: -0.1rem;
  top: 0.8rem;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #fff;
  border-radius: 100%;
}

.sw-visual__pg .swiper-pagination-bullet-active::before {
  top: -0.1rem;
}

.sw-visual__pg--active::before {
  animation: ani-bullet 1s;
}

@keyframes ani-bullet {
  0% {
    top: -0.1rem;
  }

  100% {
    top: 0.8rem;
  }
}

/* OUR STORY */
.story {
  position: relative;
  display: block;
}

.story-tit-box {
  position: absolute;
  right: 0;
  top: -14rem;
  display: block;
  width: 50%;
  height: 14rem;
  background-color: #fff;
  padding-left: 9.8rem;
  z-index: 3;
}

.story__tit {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.12rem;
  color: #222;
  margin: 6.7rem 0 0 0;
}

.story .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.story-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 50%;
  height: 50vw;
  max-height: 72rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.story-box-1 {
  display: block;
  height: 40.2778vw;
  max-height: 58rem;
  padding-top: 10.8rem;
}

.story-box-1 p {
  font-size: 3rem;
  font-weight: 300;
  line-height: 4.4rem;
  letter-spacing: -0.1rem;
  text-align: left;
  color: #333;
  margin: 0 0 14rem 9.8rem;
}

.story-box__more {
  display: inline-block;
  width: 26rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 4.3rem;
  letter-spacing: 0.112rem;
  text-align: center;
  border: 0.1rem solid #222;
  border-radius: 5rem;
  color: #222;
  cursor: pointer;
}

.story-box-1 .story-box__more {
  margin-left: 9.8rem;
}

.story-box__more:hover {
  text-decoration: underline;
}

.story-box__more::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: url("../images/plus.svg") no-repeat center;
  margin-left: 1rem;
}

.story-box-2 {
  background-image: url("../images/story_1.jpg");
}

.story-box-3 {
  height: 65.07vw;
  max-height: 93.7rem;
  background-image: url("../images/story_2.jpg");
}

.story-box-4 {
  height: 65.07vw;
  max-height: 93.7rem;
  background-image: url("../images/story_3.jpg");
}

.story-box-5 {
  background-image: url("../images/story_4.jpg");
}

.story-box-6 {
  background-image: url("../images/story_5.jpg");
}

.story-box-7 {
  background-image: url("../images/story_6.jpg");
}

.story-box-8 {
  display: block;
  height: 50.625vw;
  max-height: 72.9rem;
  text-align: center;
}

.story-box-8 p {
  font-size: 3rem;
  font-weight: 300;
  line-height: 4.4rem;
  letter-spacing: -0.1rem;
  text-align: center;
  color: #222;
  margin: 18rem 0 4rem 0;
}

.story-box-up {
  margin-top: -14rem;
}

.story-box-bot {
  justify-content: center;
  align-content: center;
  height: 14.9rem;
  background-color: #d0d2d5;
  margin-top: -14.9rem;
}

.story-box-link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.story-box__tit {
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.5rem;
  text-align: center;
  color: #fff;
  padding-top: 10rem;
  z-index: 1;
}

.story-box-2 .story-box__tit {
  color: #212529;
}

.story-box__brand {
  width: 100%;
  text-align: center;
  padding-bottom: 3.5rem;
  z-index: 1;
}

/* Gallery */
.gallery {
  position: relative;
  display: block;
  width: 100%;
  height: 143.8rem;
  background: url("../images/img_office.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.gallery .container {
  padding: 22rem 0 0 1.6rem;
}

.gallery__txt-1 {
  display: block;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.144rem;
  color: #fff;
  padding-bottom: 4.4rem;
}

.gallery__txt-2 {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 4.4rem;
  font-weight: 100;
  line-height: 1.3;
  letter-spacing: 0.14rem;
  color: #fff;
}

/* Contact */
.contact {
  position: relative;
  display: block;
  width: 100%;
  height: 33.8rem;
  background-color: #232c41;
}

.contact .container {
  display: flex;
  justify-content: space-between;
  padding: 12rem 0 14rem 1.6rem;
}

.contact__txt {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.63;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.contact__txt:last-child {
  padding-right: 9.7rem;
}

/* Nexus Brands */
.brands {
  position: relative;
  display: block;
  width: 100%;
  height: 120.7rem;
  background-color: #212a3d;
}

.brands .container {
  padding: 16rem 1.6rem 20rem 1.6rem;
}

.brands__tit {
  font-family: "Roboto", sans-serif;
  font-size: 4.4rem;
  font-weight: 100;
  line-height: 1.36;
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}

.brand-box-list {
  display: flex;
  flex-wrap: wrap;
}

.brand-box {
  width: 25%;
  max-width: 35.2rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.5);
  opacity: 0.5;
}

.brand-box img {
  width: 100%;
  height: auto;
}

/* Footer */
.footer {
  position: relative;
  display: block;
  width: 100%;
  height: 34.2rem;
  background-color: #20283b;
}

.footer-top {
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.footer-top .container {
  display: flex;
  padding: 8rem 1.6rem;
}

.footer__logo {
  width: 42%;
  height: 3.0438rem;
  font-size: 0;
  background: url("../images/logo.svg") no-repeat left;
  background-size: contain;
}

.footer__txt {
  width: 29%;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.67;
  color: rgba(255, 255, 255, 0.7);
}

.footer-bot {
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.footer-bot .container {
  display: flex;
  padding: 4rem 1.6rem;
}

.footer__copy {
  width: 42%;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.7);
}

.footer__link {
  width: 29%;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 0.05rem;
  color: #fff;
}

.footer__link .footer__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {

  /* Header */
  .header {
    height: 6.7rem;
  }

  .header-logo {
    padding: 2rem 3rem;
  }

  .header__logo {
    width: 7.8rem;
    height: 2.3281rem;
  }

  .gnb {
    display: none;
  }

  .mb-menu {
    display: block;
  }

  /* Story */
  .story-box {
    width: 100%;
    height: 100vw;
    max-height: 102.4rem;
    margin-top: 0;
  }

  .story-box-1 {
    order: 1;
    height: 30.9rem;
    padding: 0 3rem;
    text-align: center;
  }

  .story-box-1 p {
    font-size: 2.4rem;
    line-height: 3.408rem;
    margin: 6rem 0 4rem 0;
  }

  .story-box__more {
    width: 100%;
  }

  .story-box-1 .story-box__more {
    margin-left: 0;
  }

  .story-box-2 {
    order: 2;
  }

  .story-box__tit {
    padding-top: 5rem;
  }

  .story-box-3 {
    order: 3;
    height: 130.04vw;
    max-height: 133.2622rem;
  }

  .story-box-4 {
    order: 4;
    height: 130.04vw;
    max-height: 133.2622rem;
  }

  .story-box-5 {
    order: 5;
  }

  .story-box-6 {
    order: 6;
  }

  .story-box-7 {
    order: 8;
  }

  .story-box-8 {
    order: 7;
    height: 27.5rem;
    padding: 0 3rem;
  }

  .story-box-8 p {
    font-size: 2.4rem;
    line-height: 3.4rem;
    margin: 6rem 0 3rem 0;
  }

  .story-box-bot {
    order: 9;
    height: 12.5rem;
    padding: 0 3rem;
  }

  /* Gallery */
  .gallery {
    height: 55.1rem;
    background-attachment: initial;
  }

  .gallery .container {
    padding: 6.4rem 0 0 3rem;
  }

  .gallery__txt-1 {
    font-size: 1.2rem;
    padding-bottom: 2rem;
  }

  .gallery__txt-2 {
    font-size: 2.4rem;
  }

  /* Contact */
  .contact {
    height: auto;
  }

  .contact .container {
    flex-direction: column;
    padding: 4rem 0 6rem 0;
  }

  .contact__txt {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .contact__txt:last-child {
    padding-right: 0;
    margin-bottom: 0;
  }

  /* Brands */
  .brands {
    height: auto;
  }

  .brands .container {
    padding: 6rem 3rem;
  }

  .brands__tit {
    font-size: 2.4rem;
    margin-bottom: 4rem;
  }

  .brand-box {
    width: 50%;
    max-width: 48.2rem;
    text-align: center;
  }

  /* Footer */
  .footer {
    height: auto;
  }

  .footer-top .container,
  .footer-bot .container {
    padding-left: 3rem;
  }

  .footer__copy {
    font-size: 1rem;
  }

  .footer__link {
    font-size: 1rem;
  }

  .footer__link-1 {
    display: none;
  }
}

@media screen and (max-width: 768px) {

  /* Story */
  .story-tit-box {
    top: -6.2rem;
    height: 6.2rem;
    padding-left: 3rem;
  }

  .story__tit {
    font-size: 1.2rem;
    line-height: 6.2rem;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {

  /* Footer */
  .footer-top .container {
    flex-direction: column;
    padding: 4rem 3rem;
  }

  .footer__logo {
    width: 6.6rem;
    height: 1.9688rem;
    margin-bottom: 3rem;
  }

  .footer__txt {
    margin-bottom: 2rem;
  }

  .footer__txt:last-child {
    margin-bottom: 0;
  }

  .footer-bot .container {
    padding: 2.5rem 3rem 4rem 3rem;
  }

  .footer__copy {
    width: 71%;
  }

  .footer__link-2 {
    text-align: right;
  }
}

@media screen and (max-height: 897px) {

  /* Visual */
  .visual-area img {
    height: 17.5vh;
  }
}